<!-- product list -->

<!--
    This example requires some changes to your config:
    
    ```
    // tailwind.config.js
    module.exports = {
      // ...
      plugins: [
        // ...
        require('@tailwindcss/aspect-ratio'),
      ],
    }
    ```
  -->
<div class="bg-white">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 sm:py-24 lg:px-8">
    <div>
      <app-notification
        class="z-50"
        (close)="flag = $event"
        [hidden]="!flag"
      ></app-notification>
    </div>
    <div>
      <div
        class="grid grid-cols-1 mt-6 gap-y-10 sm:grid-cols-3 sm:gap-x-6 sm:gap-y-0 lg:gap-x-8"
      >
        <div
          class="relative group"
          *ngFor="
            let product of allProducts
              | paginate
                : {
                    itemsPerPage: allController.limit,
                    totalItems: totalResults,
                    currentPage: allController.page
                  };
            let index = index
          "
          (mouseover)="productHover(product)"
          (mouseleave)="currentHover = {}"
        >
          <div
            class="w-full overflow-hidden rounded-lg h-96 sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto"
          >
            <img
              [src]="product?.images[0]?.url"
              alt=""
              class="object-cover object-center w-full h-96"
            />
          </div>
          <h3 class="mt-4 text-base font-semibold text-gray-900">
            <a>
              <span class="absolute inset-0"></span>
              {{ product?.name }}
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            {{ product.price | currency }}
          </p>

          <button
            *ngIf="currentHover?._id === product._id"
            (click)="addToBag(currentHover)"
            class="absolute top-[40%] left-[35%] inline-flex justify-center px-3 py-2 text-sm font-semibold text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-cart-plus-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"
              />
            </svg>
          </button>
          <button
            *ngIf="currentHover?._id === product._id"
            (click)="onProductClick(product._id)"
            class="absolute top-[40%] right-[35%] inline-flex justify-center px-3 py-2 text-sm font-semibold text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-box-arrow-in-up-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"
              />
              <path
                fill-rule="evenodd"
                d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"
              />
            </svg>
          </button>
        </div>

        <!-- More products... -->
      </div>
    </div>

    <!-- <div class="mt-6 sm:hidden">
              <a
                href="#"
                class="block text-sm font-semibold text-indigo-600 hover:text-indigo-500"
              >
                Browse all favorites
                <span aria-hidden="true"> &rarr;</span>
              </a>
            </div> -->
    <!-- pagination start  -->
    <div class="flex justify-between mt-20">
      <div>
        <div class="sm:col-span-3">
          <label
            for="role"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Limit</label
          >
          <div class="mt-2">
            <select
              id="role"
              [(ngModel)]="allController.limit"
              (change)="getAllProducts()"
              autocomplete="role-name"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
            >
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>25</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <pagination-controls
          (pageChange)="allController.page = $event"
          (click)="getAllProducts()"
        ></pagination-controls>
      </div>
    </div>
    <!-- pagination end  -->
  </div>
</div>

<!-- product list end -->

<!-- add product form  -->
