<div class="max-w-2xl px-4 mx-auto border shadow-lg sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto lg:mb-10">
    <div class="px-4 pt-4 mb-5 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">
        Change password
      </h3>
      <p class="max-w-2xl mt-1 text-sm leading-6 text-gray-500">
        Please choose a strong password
      </p>
    </div>

    <div class="pt-5 mb-5 sm:col-span-2">
      <label
        for="oldPassword"
        class="block text-sm font-semibold leading-6 text-gray-900"
        >Old password</label
      >
      <div class="mt-2.5">
        <input
          type="password"
          [(ngModel)]="oldPassword"
          name="oldPassword"
          id="oldPassword"
          autocomplete="organization"
          class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="mb-5 sm:col-span-2">
      <label
        for="new_password"
        class="block text-sm font-semibold leading-6 text-gray-900"
        >New password</label
      >
      <div class="mt-2.5">
        <input
          type="password"
          [(ngModel)]="password"
          name="new_password"
          id="new_password"
          autocomplete="organization"
          class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <label
        for="confirm_password"
        class="block text-sm font-semibold leading-6 text-gray-900"
        >Confirm password</label
      >
      <div class="mt-2.5">
        <input
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirm_password"
          id="confirm_password"
          autocomplete="organization"
          class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
    <!-- Content goes here -->
    <div class="flex items-center justify-end mt-8 gap-x-6">
      <button
        type="button"
        class="text-sm font-semibold leading-6 text-gray-900"
        routerLink="/shop/setting/profile"
      >
        Cancel
      </button>
      <button
        type="submit"
        (click)="changePassword()"
        class="px-3 py-2 text-sm font-semibold text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        <p>
          <span>Change</span>
        </p>
      </button>
    </div>
  </div>
</div>
