<div class="max-w-2xl px-4 mx-auto border shadow-lg sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto lg:mb-10">
    <div class="px-4 pt-4 mb-5 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">
        Delete account
      </h3>
      <p class="max-w-2xl mt-1 text-sm leading-6 text-gray-500">
        No longer want to use our service? You can delete your account here.
        This action is not reversible. All information related to this account
        will be deleted permanently.
      </p>
    </div>
 
    <form class="flex items-start md:col-span-2">
      <button
        (click)="deleteAccount()"
        type="submit"
        class="px-3 py-2 text-sm font-semibold text-white bg-red-500 rounded-md shadow-sm hover:bg-red-400"
      >
        Yes, delete my account
      </button>
    </form>
  </div>
</div>
