<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
<div class="flex flex-col justify-center min-h-full py-12 sm:px-6 lg:px-8">
  <div>
    <app-notification
      (close)="flag = $event"
      [hidden]="!flag"
    ></app-notification>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img
      class="w-auto h-10 mx-auto"
      src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
      alt="Your Company"
    />
    <h2
      class="mt-6 text-2xl font-bold leading-9 tracking-tight text-center text-gray-900"
    >
      Sign in to your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="px-6 py-12 bg-white shadow sm:rounded-lg sm:px-12">
      <form class="space-y-6" #signIn="ngForm">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Email address</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              ngModel
              type="email"
              autocomplete="email"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
          <div class="mt-2">
            <input
              id="password"
              name="password"
              ngModel
              type="password"
              autocomplete="current-password"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-600"
            />
            <label
              for="remember-me"
              class="block ml-3 text-sm leading-6 text-gray-900"
              >Remember me</label
            >
          </div>

          <div class="text-sm leading-6">
            <a
              href="#"
              class="font-semibold text-indigo-600 hover:text-indigo-500"
              >Forgot password?</a
            >
          </div>
        </div>

        <div>
          <button
            type="submit"
            (click)="signInFun(signIn.value)"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Sign in
          </button>
        </div>
      </form>

      <div>
        <div class="relative mt-10">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-200"></div>
          </div>
          <div
            class="relative flex justify-center text-sm font-medium leading-6"
          >
            <span class="px-6 text-gray-900 bg-white">Or continue with</span>
          </div>
        </div>

        <div class="flex justify-center mt-6">
          <!-- <div
            id="g_id_onload"
            data-client_id="1066431254425-3ptpcapvgee5l02ds1tcr7vjsj8rl43j.apps.googleusercontent.com"
            data-context="signIn"
            data-ux_mode="popup"
            data-login_uri="http://localhost:8080/auth/login/google"
            data-auto_select="true"
            data-itp_support="true"
          ></div> -->
          <div class="flex gap-5 p-2 border border-black rounded-lg">
            <asl-google-signin-button
              (click)="googleSignIn()"
              class=""
              type="icon"
              size="medium"
              id="g_id_onload"
              data-client_id="1066431254425-3ptpcapvgee5l02ds1tcr7vjsj8rl43j.apps.googleusercontent.com"
              data-context="signIn"
            >
            </asl-google-signin-button>
            <p class="cursor-pointer" (click)="googleSignIn()">
              Sign in with google
            </p>
          </div>
        </div>
      </div>
    </div>

    <p class="mt-10 text-sm text-center text-gray-500">
      Not a member?
      <a
        href="#"
        class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
        >Start a 14 day free trial</a
      >
    </p>
  </div>
</div>
