<div class="bg-white py-7 sm:py-7">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="max-w-2xl mx-auto lg:max-w-4xl">
      <div class="flex justify-between">
        <h2 class="font-bold tracking-tight text-gray-900 text-1xl sm:text-2xl">
          Order details
        </h2>
        <button
          *ngIf="orderDetails.status !== 'Cancelled'"
          (click)="cancelOrder()"
          class="px-4 py-2 text-white bg-red-500 rounded-md hover:bg-red-600"
        >
          Cancel order
        </button>
      </div>
      <!-- <p class="mt-2 text-lg leading-8 text-gray-600">
        Learn how to grow your business with our expert advice.
      </p> -->
      <div *ngIf="false" class="grid gap-x-8 lg:grid-cols-2 lg:mt-10">
        <div *ngFor="let item of orderDetails?.items">
          <article class="flex gap-8 isolate lg:flex-row">
            <div
              class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0"
            >
              <img
                src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80"
                alt=""
                class="absolute inset-0 object-cover w-full h-full rounded-2xl bg-gray-50"
              />
              <div
                class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
              ></div>
            </div>
            <div>
              <div class="mt-6">
                <h3
                  class="pb-3 mt-3 text-lg font-semibold leading-6 text-gray-900 border-b border-gray-100 group-hover:text-gray-600"
                >
                  <span class="absolute inset-0"></span>
                  {{ item?.name }}
                </h3>
                <dl class="divide-y divide-gray-100">
                  <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-5 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">
                      Price
                    </dt>
                    <dd
                      class="mt-1 ml-6 leading-6 text-gray-700 mtext-sm sm:col-span-2 sm:mt-0"
                    >
                      {{ item?.price }}
                    </dd>
                  </div>
                  <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-5 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">
                      Quantity
                    </dt>
                    <dd
                      class="mt-1 ml-6 leading-6 text-gray-700 mtext-sm sm:col-span-2 sm:mt-0"
                    >
                      {{ item?.qty }}
                    </dd>
                  </div>
                  <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-5 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">
                      Subtotal
                    </dt>
                    <dd
                      class="mt-1 ml-6 leading-6 text-gray-700 mtext-sm sm:col-span-2 sm:mt-0"
                    >
                      {{ item?.subTotal }}
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </article>
        </div>
        <!-- More posts... -->
      </div>

      <div class="mt-7">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <h1 class="text-base font-semibold leading-6 text-gray-900">
                Items
              </h1>
            </div>
          </div>
          <div class="flow-root mt-8">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div
                class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
              >
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                    <tr>
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                      >
                        Name
                      </th>
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                      >
                        Product ID
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Price
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Quantity
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Subtotal
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200">
                    <tr
                      *ngFor="let item of orderDetails?.items"
                      (click)="itemClicked(item.productId)"
                      class="cursor-pointer hover:bg-gray-50"
                    >
                      <td
                        class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-0"
                      >
                        {{ item.name }}
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"
                      >
                        {{ item.productId }}
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"
                      >
                        {{ item.price }}
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"
                      >
                        {{ item.qty }}
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"
                      >
                        {{ item.subTotal }}
                      </td>
                      <td
                        class="relative py-4 pl-3 text-sm font-medium text-right"
                      >
                        <!-- <a href="#" class="text-indigo-600 hover:text-indigo-900"
                          >Edit<span class="sr-only">, Lindsay Walton</span></a
                        > -->

                        <svg
                          class="flex-none w-5 h-5 text-gray-400"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </td>
                    </tr>

                    <!-- More people... -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <div
          class="grid mt-6 border-t border-gray-100 lg:grid-cols-2 sm:grid-cols-2"
        >
          <div>
            <div class="px-4 mt-3 sm:px-0">
              <h3 class="text-base font-semibold leading-7 text-gray-900">
                Address Information
              </h3>
              <p class="max-w-2xl mt-1 text-sm leading-6 text-gray-500">
                <!-- Personal details about name a. -->
              </p>
            </div>

            <dl class="divide-y divide-gray-100" *ngIf="orderDetails?.address">
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  Street
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  {{ orderDetails.address.street }}
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  Address line 2
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  {{ orderDetails.address.addressLine2 }}
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  City
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  {{ orderDetails.address.city }}
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  State
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  {{ orderDetails.address.state }}
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">PIN</dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  {{ orderDetails.address.pin }}
                </dd>
              </div>
            </dl>
          </div>

          <div>
            <div class="px-4 mt-3 sm:px-0">
              <h3 class="text-base font-semibold leading-7 text-gray-900">
                Status
              </h3>
              <p class="max-w-2xl mt-1 text-sm leading-6 text-gray-500">
                <!-- Personal details about name a. -->
              </p>
            </div>
            <dl class="divide-y divide-gray-100" *ngIf="orderDetails?.address">
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  Delivery status
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  {{ orderDetails.status }}
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  Payment status
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  {{ orderDetails.paymentStatus }}

                  <span
                    *ngIf="orderDetails.paymentStatus === 'Pending'"
                    class="inline-flex items-center px-2 py-1 text-xs font-medium text-blue-700 rounded-md cursor-pointer bg-blue-50 ring-1 ring-inset ring-blue-700/10"
                    (click)="goToPayment()"
                    >Make payment</span
                  >
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
